.program_card {
  @apply lg:max-w-sm relative bg-transparent 
   flex flex-col justify-between
   text-blockbusterBlue cursor-pointer;
}

/* image container */
.program_card-image-wrapper {
  @apply relative h-full rounded-md 
  overflow-hidden delay-300 duration-500;
}

.program_card:hover .program_card-image-wrapper {
  @apply shadow-2xl scale-110 -translate-y-5
    z-[60]
    duration-500;
}
.program_card:hover .program_card-description {
  @apply delay-300 duration-500 visible w-[200%];
}

.image-overlay {
  @apply absolute top-0 left-0 w-full h-full
  bg-gradient-to-t  from-blockbusterBlue/90 backdrop-blur-[1px]
  flex items-center justify-center transition-opacity duration-300 opacity-0 hover:opacity-100;
}

.image-overlay:hover button {
  @apply -translate-y-5 duration-500;
}

/* icon */

.icon-wrapper {
  @apply absolute transform top-0 left-0 flex p-1 sm:p-2 
  /* rounded-tl-sm */
  rounded-br-xl
  z-40
  backdrop-blur-sm
   bg-white/30 
  transition-all duration-200 cursor-pointer;
}

/* description card */

.program_card-description {
  @apply absolute z-50 bg-white top-0 duration-200 w-0 pl-6 pr-2 py-2 align-middle
   h-full max-h-[10rem] sm:max-h-[16rem]
   rounded-r-sm text-sm
   overflow-hidden
   left-[100%]
   invisible;
}

.program_card-content {
  @apply text-center 
  mt-2
  flex flex-col items-center
  relative py-1 px-2;
}

.program_card-content--title {
  @apply font-medium w-full;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card-button {
  @apply w-[80%] border border-blockbusterYellow  px-4 py-1 rounded-lg  cursor-pointer duration-300
  text-blockbusterBlue text-xs translate-y-full
  flex flex-row items-center justify-between bg-blockbusterYellow/60;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

/* .sidebar-link-wrapper {
  @apply w-full border border-blockbusterYellow  px-4 py-1 rounded-lg  cursor-pointer duration-300
   text-blockbusterBlue
   flex flex-row items-center justify-between bg-blockbusterYellow/60;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.sidebar-link-wrapper {
  @apply capitalize;
}
.sidebar-link-wrapper:hover {
  @apply bg-blockbusterBlue/80 text-blockbusterYellow duration-300 border border-blockbusterBlue pl-8;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
} */
