.program-header--hero-primary {
  @apply h-heroSmall md:h-heroMedium lg:h-heroLarge relative overflow-hidden bg-fixed bg-cover;
  background-position: 50% 50% !important;
}
.program-header--hero-secondary {
  @apply h-heroSmall md:h-heroMedium relative overflow-hidden;
  background-position: 50% 50% !important;
}
.program-header--gradient {
  @apply h-full w-full top-0 left-0 absolute;
  background-image: linear-gradient(
    0deg,
    rgba(250, 254, 255, 1),
    transparent 40%
  );
  /* backdrop-filter: blur(2px); */
  backdrop-filter: brightness(65%) blur(4px);
}

.program-header--title {
  @apply h-full w-full top-0 left-0 absolute;
}
