.line-loader {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.line {
  @apply bg-blockbusterBlue;
  width: 0.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  animation: scaleloader 1s linear infinite;
}

.line:nth-child(2) {
  height: 2.5rem;
  animation-delay: 0.25s;
}

.line:nth-child(3) {
  animation-delay: 0.5s;
}
@keyframes scaleloader {
  20% {
    background-color: #fff;
    transform: scaleY(1.5);
  }
  40% {
    transform: scaleY(1);
  }
}
